* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    columns: inherit;
    font-size: inherit;

}

ul,
ol {
    list-style: none;

}

a {
    text-decoration: none;
}

body {
    line-height: 1;
}